<% user.answers.forEach(function(answer){ %>
    <div class="card" id="questionWrapper">
        <div class="card-body">
            <p class="card-text mb-2">
            <h6><img src="<%=answer.questionId.userId.avatar%>" alt="alt"
                    style="height: 30px; width: 30px; border-radius: 50%;"><a
                    href="/user/profile/<%= answer.questionId.userId%>">
                    <%= answer.questionId.userId.name %>
                </a></h6>
            <a href="/question/<%= answer.questionId.id %>"><b>
                    <%= answer.questionId.questionBody %>
                </b></a>
            </p>
            <p>
                <%= answer.answerBody %>
            </p>
            <div id="votes">
                <i aid="<%= answer.id %>" class="up far fa-thumbs-up"></i><span id="votes/<%=answer.id%>">
                    <%= answer.upvotes.length-answer.downvotes.length %>
                </span> <i aid="<%= answer.id %>" class="down far fa-thumbs-down"></i>
            </div>

        </div>
    </div>
    <% }); %>