<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.js" crossorigin="anonymous"></script>
    <script src="/scripts/home.js"></script>
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div id="navbar">
        <%- include ('./partials/navbar') %>
    </div>
    <div class="wrapper">
        <div class="questions">
            <% questions.forEach(function(question){ %>
                <div class="card" id="questionWrapper">
                    <div class="card-body">
                        <div class="title"><img src="<%= question.userId.avatar %>" alt="avatar"
                                style="height: 30px; width: 30px; border-radius: 50%; margin-right: 2px;"><a
                                href="/user/profile/<%=question.userId.id%>">
                                <b>
                                    <%= question.userId.name %>
                                </b>
                            </a></div>

                        <h6 class="questionBody"><a href="/question/<%= question.id %>">
                                <%= question.questionBody %>
                            </a></h6>
                        <button id="answerButton/<%= question.id %>"
                            class="btn btn-sm btn-outline-secondary answerButton" value="0"><i
                                class="far fa-edit"></i>Answer</button>
                        <!-- answering  -->
                        <div class="answer visually-hidden text-center" id="answer/<%= question.id %>">
                            <div class="card" id="answerWrapper">
                                <form action="/query/answer" method="POST">
                                    <div class="mb-1">
                                        <textarea name="ansBody" class="body" required></textarea>
                                    </div>
                                    <input type="text" name="postId" value="<%= question.id %>" class="visually-hidden">
                                    <div class="mb-1">
                                        <button id="post" class="btn btn-outline-warning btn-sm"
                                            type="submit">Post</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- answer -->
                        <% (question.answers).forEach(function(answer){ %>
                            <p class="otherAnswers" style="font-size: medium;">
                                <%= answer.answerBody %>
                            </p>
                            <div id="votes">
                                <i aid="<%= answer.id %>" class="up far fa-thumbs-up"></i><span
                                    id="votes/<%=answer.id%>">
                                    <%= answer.upvotes.length-answer.downvotes.length %>
                                </span> <i aid="<%= answer.id %>" class="down far fa-thumbs-down"></i>
                            </div>

                            <% }); %>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>



    <script>
        if ('<%=user%>' === "Login") {
            $('.answerButton').addClass('visually-hidden')
            $('#navbar .navbar .dropdown').append(`
                <a class='btn btn-secondary' href='/auth/login'>Login</a>
            `)
        }
        else {
            $('#navbar .navbar .dropdown').append(`
            <button class="btn btn-secondary dropdown" id="profile" type="button" data-bs-toggle="dropdown" aria-expanded="false">
               <%= user %>
            </button>
            <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/user/profile">Profile</a></li>
              <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
            </ul>
            `)
        }
    </script>
</body>

</html>